<div class="pull-right" style="margin: 10px">
  <% if current_user.administrator? %>
    <%= link_to 'Import Links', new_link_path, class: 'btn btn-success' %>
    <%= link_to 'Links', links_path, class: 'btn btn-success' %>
  <% end %>
  <%= link_to "Sign Out #{current_user.full_name}", destroy_user_session_path, method: :delete, class: 'btn btn-warning' %>
</div>
<div class="clearfix"></div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Links Track Log</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
        	<th>User Name</th>
          <th>Link Title</th>
          <th>Url</th>
          <th>Clicked at</th>
        </tr>
      </thead>

      <tbody>
        <% @link_tracks.each do |link_track| %>
          <tr>
          	<td><%= link_track.user.full_name %></td>
            <td><%= link_track.link.title %></td>
            <td><%= link_to link_track.link.url, link_track.link.url, target: '_blank' %></td>
            <td><%= "#{time_ago_in_words(link_track.created_at)} ago" %></td>       
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @link_tracks, :param_name => 'tracks_page' %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">User Log</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
        	<th>User Name</th>
          <th>Last Signed In at</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
          	<td><%= user.full_name %></td>
            <td><%= "#{time_ago_in_words(user.last_sign_in_at)} ago" %></td>       
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users, :param_name => 'user_page' %>
  </div>
</div>