<!DOCTYPE html>
<html>
<head>
  <title>Link Tracker</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<% flash.each do |name, msg| %>
		<% if flash[:notice] %>
    	<%= content_tag :div, msg, class: "alert alert-info centered" %>
		<% else %>
    	<%= content_tag :div, msg, class: "alert alert-warning centered" %>
		<% end %>
  <% end %>
	<%= yield %>
</div>

</body>
</html>
